/** Code By Webdevtrick ( https://webdevtrick.com ) **/
* {
    margin: 10;
    padding: 0;
  }
  html {
    width: 100%;
    height: 100%;
    background-color: #212121;
    color:#fff;
  }
  .buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
  }
  #main {
    position: absolute;
    width: 100%;
    height: 100%;   
  }
  .wrapper {
    margin-top: 25px;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px
  }
  #btn {
    stroke-width: 6px;
    fill: transparent;
    stroke: #FFF;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  #btn-text {
    margin-top: -35px;
    text-align: center;
  }
  a { color: rgb(255, 94, 0);}
  a:hover{ color: rgb(255, 0, 0); }
  a:visited{ color: rgb(209, 209, 209); }

  #btn-text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
    transition:2s;
  }
  .wrapper:hover #btn {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #2aff44;
  }

  #btn-text a:hover {
    color: #2aff44;
    transition:2s;
  }
  